.tab {
    float: left;
    border: 0.10vw solid orange;
    background-color: #16213e;;
    width: 15%;
    height: 89.5vh;
    
}

.tab button {
    display: block;
    background-color: #16213e;;
    color: orange;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 100%;
    border: none;
    outline:none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: #111d5e;
}
  

.tab button.active {
    background-color: #0a043c;
}

.tabcontent {
    float: left;
    padding: 2vw 1vh;
    border: none;
    width: 83.5%;
    border : 0.10vw solid orange;
    height: 82vh;
    background-color: #16213e;
    display: inline;
   
}