.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AppBar{
  background-color: #16213e;
  color: white;
  border: 0.10vw solid orange;
  border-radius: 0.25vw;
  
}
.ImageLogo{
  animation-duration: 4s;
  animation-delay: 2s;
  animation-name: Applogo;
  margin-top: .5vh;
  margin-left: .5vw;
  border-radius: 0.5vh;
  animation-direction: reverse;
  animation: Applogo 5s infinite;
  animation-timing-function: linear;
}
@keyframes Applogo{
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}